In [5]:
#List of high school
high_schools=["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [6]:
for school in high_schools: print (school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [16]:
#A dictionary for high schools and the type of school
high_school_types=[{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [17]:
 for school in high_school_types: print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [32]:
#List of high schools
high_schools=["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [33]:
# Add the Pandas dependency
import pandas as pd

In [34]:
# Create a Pandas Series from a list.
school_series= pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [30]:
school_series= pd.DataFrame([('Huang High School')])
school_series

                   0
0  Huang High School

In [31]:
school_series= pd.Series([('Huang High School')])
school_series

0    Huang High School
dtype: object

In [38]:
# A dictionary of high schools
high_school_dicts=[{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [40]:
#Data Frame
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [47]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [53]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame(type_of_school)
type_of_school

['District', 'District', 'Charter', 'District', 'Charter']

In [50]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

          0  School ID
0  District          0
1  District          1
2   Charter          2
3  District          3
4   Charter          4

In [55]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [57]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [58]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [59]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [60]:
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School",
"Beily High School","Holden High School","Pena High School", "Wright High School",
"Rodriguez High School", "Jhonson High School","Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter","Charter","Charter", "District","Charter","Charter", "Charter", "District", "District", "District", "Charter"]

In [ ]:
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

In [69]:
school_df=pd.DataFrame(school_name,school_id)
school_df

                        0
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7       Beily High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Jhonson High School
13       Ford High School
14     Thomas High School